.body{
  color:#fff;
  text-align: center;
}

.container{
  position:fixed;
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;
  min-width: 1000px;
  z-index:-10;
  background: #9a9898 url(photos/footimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;

}

.kakko{
  height: auto;
  width: auto;
  z-index: 10;
  text-align: center;
  color: #fff;
  position: relative;
  top: 80px;
  right: 34.8px;
  margin: auto;
  font-weight: lighter;
  font-size:1.12em;
  font-family: "A1明朝",Arial,"ヒラギノ明朝 ProN W3", serif;
}

.writing{
  margin-top: 130px;
  margin-left: 13.5px;
  font-weight: lighter;
}
.writing1{
  font-size: 30px;
  width: 1.5px;
  color: #fff;
  display: inline-block;
  margin-left: 640px;
  margin-top: -30px;
  border-right: 4px solid #fff ;
  padding-right: 50px;
  font-family: "A1明朝",Arial,"ヒラギノ明朝 ProN W3", serif;
}
.writing2{
  font-size: 28px;
  width: 1.5px;
  color: #fff;
  display: inline-block;
  margin-left: 20px;
  font-family: "A1明朝",Arial,"ヒラギノ明朝 ProN W3", serif;
}
.writing3{
  font-size: 30px;
  width: 1.5px;
  color: #fff;
  display: inline-block;
  margin-left: 50px;
  margin-top: -30px;
  border-left: 4px solid #fff;
  padding-left: 20px;
  font-family: "A1明朝",Arial,"ヒラギノ明朝 ProN W3", serif;
}

.picture0{
  width: 120px;
  height: 120px;
  margin-top:15px;
  margin-left: 685px;
  background-image: url(../仿站作业/photos/51.png);
}
.picture0:hover{
  background-image: url(../仿站作业/photos/52.png);
}

.wenzi{
  color: #fff;
  margin-top: 13px;
  margin-left: 650px;
  font-size: 1.5em;
  font-weight: lighter;
  font-family: serif;
}

.phone{
  color: #fff;
  margin-left: 653px;
  margin-top: 45px;
  font-size: 22px;
  font-weight: lighter;
  font-family: serif;
}
.phone a:link {
  text-decoration-line: none;
}
.phone a:visited {
  color: #fff;
}

.lianjie01{
  display: inline-block;
  margin-top: 25px;
  margin-left: 458px;
  padding-top: 8px;
  padding-left: 18px;
  color: #fff;
  font-size: 20px;
  font-family: "A1明朝",Arial, "ヒラギノ明朝 ProN W3", serif;
  border: 1px solid #fff;
  width: 280px;
  height: 52px;
  border-radius: 5px;
  background-color:transparent;
}
.cube a:hover .lianjie01 {
  background-color: #fff;
  color: #006d80;
}

.lianjie02{
  display: inline-block;
  margin-top: 25px;
  margin-left:20px;
  padding-top: 8px;
  padding-left:50px;
  color: #fff;
  font-size: 20px;
  font-family: "A1明朝",Arial,"ヒラギノ明朝 ProN W3", serif;
  border: 1px solid #fff;
  width: 300px;
  height: 52px;
  border-radius: 5px;
  background-color:transparent;
}
.cube a:hover .lianjie02 {
  background-color: #fff;
  color: #006d80;
}

.write1{
  display: inline-block;
  margin-left: 600px;
  margin-top: 40px;
  color: #fff;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}
.write2{
  display: inline-block;
  margin-left: 680px;
  margin-top: 10px;
  color: #fff;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}
.write3{
  display: inline-block;
  margin-left: 690px;
  margin-top: 10px;
  color: #fff;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

